
html,body{
  height: 100%; 
  width: 85%;
  margin:20px auto;
  background: #FBF2EF;
  min-width: 960px;
}
h1,h2,h3{
  font-family:cursive;
}
header a{
  color:white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  float:left;
  background-color: #fb4834;
  text-decoration: none;
  padding:5px;
}

/* ----------- Menu ---------------- */

.log {
  width:32px;
}

.m-nav{
  background-color: black;
}

.m-nav ul {

  padding:0;
  margin:0;
  margin-left:250px;
  list-style-type:none;
 }
.m-nav li {
  margin-left:2px;
  float:left; 
 }
 .m-nav ul li a {
  display:block;
  float:left;   
  width:100px;
  height:40px;
  background-color:black;
  color:white;
  text-decoration:none;
  padding:10px;
  text-align:center;
  /*pour avoir un effet "outset" avec IE :*/
  border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
.m-nav ul li button {
  display:block;
  float:left;   
  width:100px;
  height:60px;
  background-color:black;
  color:white;
  text-decoration:none;
  padding:10px;
  text-align:center;
  /*pour avoir un effet "outset" avec IE :*/
  border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
/* ----------- Mosaique ---------------- */
#grid{
  width: 100%;
  position: relative;
  font-size: 25px;
  font-family: 'Helvetica';
  color: #eaeaea;
  margin-left:0;
  padding:left:0;
}
.box {
  background: white;
  /*background-color: #c23822;*/
  /*opacity:0.9;*/
  box-shadow: 0px 0px 1px #222;
  float: left;
  position: relative;

}

.box p {
  background-color: rgba(53,53,150,0.5);
  width:100%;
  height:100%;
  margin :0 0 0 0;
  padding:0 0 0 0;
  text-indent: 10px;
}


#fillers{
  display: none;
}
.fillerBox {
  background-color: #751e11;
  box-shadow: 0px 0px 1px #222;
  float: left;
  position: relative;
}

/* ----------- Liste Article---------------- */

.main_content {
  margin-left: 0;
  margin-right:0;
  width: 1000px;
}
.grid_3,
.grid_6,
.grid_9,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.beta{
  margin-left:50px;
}

.main_content .grid_3 {
  width: 220px;
}

.main_content .grid_3  ul li button {
  display:block;
  float:left;   
  width:160px;
  height:50px;
  background-color:black;
  color:white;
  text-decoration:none;
  padding:5px;
  text-align:center;
  /*pour avoir un effet "outset" avec IE :*/
  border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }

.main_content .grid_6 {
  width: 460px;
}

.main_content .grid_9 {
  width: 700px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.main_content:before,
.main_content:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.main_content:after {
  clear: both;
}

 .latest-news{
  padding:0;
  margin:0;
  list-style-type:none;
 }


/* ----------- Log In ---------------- */
#log-in{

  background: linear-gradient(top, #fff, #f8f8f8);
  border: 1px solid #d0d2d5;
  border-bottom: 1px solid #bebfc2;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  width: 220px;
}
#log-in label {
  color: #404853;
  display: block;
  font-weight: bolder;
}

#log-in input {
  background: #fff;
  border: 1px solid #c6c9cc;
  border-radius: 4px;
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;*/
  box-shadow: 5px 5px 0px #aaa;
  color: #555;
  font: 13px/20px 'Droid Sans', Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  margin: 0 0 20px 0;
  padding: 5px;
 /* width: 200px;*/
}

/* ----------- Footer---------------- */

 footer{
  margin-top:-25px;
  border:1px solid black;
  border-radius:5px;
  background-color: black;
  color:white;
 }

footer ul{
  list-style-type:none;
  float:right;
  margin-right:30px;

}

footer img{
  margin-left: 30px;
  margin-top: 40px;
  width:100px;

}

footer .about{
  word-wrap: break-word;
  text-align: justify;
}
footer .about h3{
  margin-top: 35px;
}

footer #about_us {
  width:400px;
}

footer a{
  color:white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  float:left;
  background-color: #fb4834;
  text-decoration: none;
  padding:5px;
}

footer div .spacing {
  height:35px;
}

footer ul li button {
  display:block;
  float:left;   
  width:100px;
  height:30px;
  background-color:black;
  color:white;
  text-decoration:none;
  padding:5px;
  text-align:center;
  /*pour avoir un effet "outset" avec IE :*/
  border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }


/* ----------- Barre de seperation---------------- */
 hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 5px;
  margin: 1.4em 0;
  border: none; 
 
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

