<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Welcome</title>
		
		<link rel="stylesheet" type="text/css" href="Css/style.css">
		<script src="Js/jquery.js"></script>
		<script src="Js/mason.js"></script>
		<script src="Js/script.js"></script>
		

	</head>

	<body>
		
		<header>
			<a href=""><h1>DAT FLUX</h1></a>

			<nav class="m-nav">

				<ul>
					<!--
					<li ><a href="../html/log.html"><img class="log" src="../img/login.gif" title="Connection ou Inscription"></a></li>
				-->
					<li><button class="actualite" type:"button">Actualite</button></li>
					<li><button class="politique" type:"button">Politique</button></li>
					<li><button class="international" type:"button">International</button></li>
					<li><button class="economie" type:"button">Economie</button></li>
					<li><button class="technologie" type:"button">High-Tech</button></li>
					<li><button class="sport" type:"button">Sports</button></li>
				</ul>			
			</nav>
		</header>
		
		<hr class="carved" />

		<div id='grid'>
			<div id = 'news0' class='box link'></div>
			<div id = 'news1' class='box link'></div>
			<div id = 'news2' class='box link'></div>
			<div id = 'news3' class='box link'></div>
			<div id = 'news4' class='box link'></div>
			<div id = 'news5' class='box link'></div>
			<div id = 'news6' class='box link'></div>
			<div id = 'news7' class='box link'></div>
			<div id = 'news8' class='box link'></div>

		</div>

		<hr class="carved" />

		<div class="main_content">

			<div class="grid_9">
				<div id = "news9" class="grid_3 alpha">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news10" class="grid_3">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news11" class="grid_3 omega">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3 beta">
				<h3>Latest News</h3>
				<ul class="latest-news">
					<li><button class="actualite" type:"button">Actualite</button></li>
					<li><button class="politique" type:"button">Politique</button></li>
					<li><button class="international" type:"button">International</button></li>
					<li><button class="economie" type:"button">Economie</button></li>
					<li><button class="technologie" type:"button">High-Tech</button></li>
					<li><button class="sport" type:"button">Sports</button></li>
				</ul>
			</div>
			<div class="grid_9">
				<div id = "news12" class="grid_3 alpha">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvnjbkjbfjkzbghgbfhbgfshjbdshfbsh</br>
					</p>
				</div>
				<div id = "news13" class="grid_3">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news14" class="grid_3 omega">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3">

			</div>
			<div class="grid_9">
				<div id = "news15" class="grid_3 alpha">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news16" class="grid_3">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news17" class="grid_3 omega">
					<h3 class="link">Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3">

			</div>


		</div>

		<hr class="carved" />
		<footer>

			<div class="main_content">
				<div class="grid_3">
					<div class="spacing">
					</div> 
					<a href=""><h1>DAT FLUX</h1></a>
				</div>
				<div id ="about_us" class="grid_3 about">
					<h3>About Us</h3>
					<p>Ce site a été crée en collaboration par CHHOR Albert et SOMAWANSA Ravindu, 2 élèves de l'école d'ingénieur ESIEA en 5ième année dans le cadre d'un projet de conception Web. Ce site a été conçu sur la base d'un serveur Nginx avec une application server Node.js tourant dessus et une base de donnée NoSql MongoDB. De plus, nous avons ajouté les frameworks Express.js et Socket.io pour avoir un site complétement asynchrone et donc en temps réel. Ainsi les news de ce site se mettent à jour automatiquement toutes les 15 minutes sans avoir besoin de refraichir la page.
					</p>
				</div>
				<div class="grid_3">
					<ul class="categorie">
						<h3>Categories</h3>
						<li><button class="actualite" type:"button">Actualite</button></li>
						<li><button class="politique" type:"button">Politique</button></li>
						<li><button class="international" type:"button">International</button></li>
						<li><button class="economie" type:"button">Economie</button></li>
						<li><button class="technologie" type:"button">High-Tech</button></li>
						<li><button class="sport" type:"button">Sports</button></li>
					</ul>
				</div>
				
			</div>	
		</footer>

		<script src="/socket.io/socket.io.js"></script>
		<script>
  
		    var socket = io.connect(document.location.href);

		    $(".politique").on('click', function(){
        		socket.emit('politique', {});
        		//console.log("poli");
    		});

    		 $(".international").on('click', function(){
        		socket.emit('international', {});
        		//console.log("poli");
    		});

    		$(".technologie").on('click', function(){
        		socket.emit('technologie', {});
    		});

    		$(".sport").on('click', function(){
        		socket.emit('sport', {});
    		});

    		$(".economie").on('click', function(){
        		socket.emit('economie', {});
    		});

    		$(".actualite").on('click', function(){
        		socket.emit('actualite', {});
    		});


		    socket.on('news 0', function(json) {
		      	console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
          		$("#news0").empty();
          		$("#news0").append(a);
          		$("#news0").css("background-image", "url("+json.img+")"); 

          		 
		      });

		    socket.on('news 1', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news1").empty();
          		$("#news1").append(a);
          		$("#news1").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 2', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news2").empty();
          		$("#news2").append(a);
          		$("#news2").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 3', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news3").empty();
          		$("#news3").append(a);
          		$("#news3").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 4', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news4").empty();
          		$("#news4").append(a);
          		$("#news4").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 5', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news5").empty();
          		$("#news5").append(a);
          		$("#news5").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 6', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news6").empty();
          		$("#news6").append(a);
          		$("#news6").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 7', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news7").empty();
          		$("#news7").append(a);
          		$("#news7").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 8', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		      	var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none"
		      	}).append(h);
		  
          		$("#news8").empty();
          		$("#news8").append(a);
          		$("#news8").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 9', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news9 h3").empty();
          		$("#news9 h3").append(a);
          		$("#news9 img").attr("src", json.img);  
          		$("#news9 img").css("width", "100%");
          		$("#news9 img").css("height", "100%");
          		$("#news9 p").empty();
          		$("#news9 p").append(json.content);

		      });
			

		    socket.on('news 10', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news10 h3").empty();
          		$("#news10 h3").append(a);
          		$("#news10 img").attr("src", json.img);  
          		$("#news10 img").css("width", "100%");
          		$("#news10 img").css("height", "100%");
          		$("#news10 p").empty();
          		$("#news10 p").append(json.content);
		      });

		    socket.on('news 11', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news11 h3").empty();
          		$("#news11 h3").append(a);
          		$("#news11 img").attr("src", json.img);  
          		$("#news11 img").css("width", "100%");
          		$("#news11 img").css("height", "100%");
          		$("#news11 p").empty();
          		$("#news11 p").append(json.content);
		      });


		    socket.on('news 12', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news12 h3").empty();
          		$("#news12 h3").append(a);
          		$("#news12 img").attr("src", json.img);  
          		$("#news12 img").css("width", "100%");
          		$("#news12 img").css("height", "100%");
          		$("#news12 p").empty();
          		$("#news12 p").append(json.content);
		      });


		    socket.on('news 13', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news13 h3").empty();
          		$("#news13 h3").append(a);
          		$("#news13 img").attr("src", json.img);  
          		$("#news13 img").css("width", "100%");
          		$("#news13 img").css("height", "100%");
          		$("#news13 p").empty();
          		$("#news13 p").append(json.content);
		      });


		    socket.on('news 14', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news14 h3").empty();
          		$("#news14 h3").append(a);
          		$("#news14 img").attr("src", json.img);  
          		$("#news14 img").css("width", "100%");
          		$("#news14 img").css("height", "100%");
          		$("#news14 p").empty();
          		$("#news14 p").append(json.content);
		      });


		    socket.on('news 15', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.colorss("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news15 h3").empty();
          		$("#news15 h3").append(a);
          		$("#news15 img").attr("src", json.img);  
          		$("#news15 img").css("width", "100%");
          		$("#news15 img").css("height", "100%");
          		$("#news15 p").empty();
          		$("#news15 p").append(json.content);
		      });

		    socket.on('news 16', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news16 h3").empty();
          		$("#news16 h3").append(a);
          		$("#news16 img").attr("src", json.img);  
          		$("#news16 img").css("width", "100%");
          		$("#news16 img").css("height", "100%");
          		$("#news16 p").empty();
          		$("#news16 p").append(json.content);
		      });

		    socket.on('news 17', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  		var a = $("<a></a>", {
		      		href: json.link,
		      		style: "text-decoration:none",
		      		text: json.title
		      	});
		      	a.css("color", "black");
          		$("#news17 h3").empty();
          		$("#news17 h3").append(a);
          		$("#news17 img").attr("src", json.img);  
          		$("#news17 img").css("width", "100%");
          		$("#news17 img").css("height", "100%");
          		$("#news17 p").empty();
          		$("#news17 p").append(json.content);
		      });
			
		    
		     
		    socket.on("disconnect", function() {
		    	console.log("disconnected");
		    });


    		
		</script>
	</body>
</html>
