<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Welcome</title>
		
		<link rel="stylesheet" type="text/css" href="Css/style.css">
		<script src="Js/jquery.js"></script>
		<script src="Js/mason.js"></script>
		<script src="Js/script.js"></script>
		

	</head>

	<body>
		
		<header>
			<a href="../html/index.html"><h1>THE VERGE</h1></a>

			<nav class="m-nav">

				<ul>
					<li ><a href="../html/log.html"><img class="log" src="../img/login.gif" title="Connection ou Inscription"></a></li>
					
					<li><a href="">Polique</a></li>
					<li><a href="">Economie</a></li>
					<li><a href="">High-Tech</a></li>
					<li><a href="">Sports</a></li>
				</ul>			
			</nav>
		</header>
		
		<hr class="carved" />

		<div id='grid'>
			<div id = 'news0' class='box'></div>
			<div id = 'news1' class='box'></div>
			<div id = 'news2' class='box'></div>
			<div id = 'news3' class='box'></div>
			<div id = 'news4' class='box'></div>
			<div id = 'news5' class='box'></div>
			<div id = 'news6' class='box'></div>
			<div id = 'news7' class='box'></div>
			<div id = 'news8' class='box'></div>

		</div>

		<hr class="carved" />

		<div class="main_content">

			<div class="grid_9">
				<div id = "news9" class="grid_3 alpha">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news10" class="grid_3">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news11" class="grid_3 omega">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3 beta">
				<h3>Latest News</h3>
				<ul class="latest-news">
					<li><a href="">Polique</a></li>
					<li><a href="">Economie</a></li>
					<li><a href="">High-Tech</a></li>
					<li><a href="">Sports</a></li>
				</ul>
			</div>
			<div class="grid_9">
				<div id = "news12" class="grid_3 alpha">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvnjbkjbfjkzbghgbfhbgfshjbdshfbsh</br>
					</p>
				</div>
				<div id = "news13" class="grid_3">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news14" class="grid_3 omega">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3">

			</div>
			<div class="grid_9">
				<div id = "news15" class="grid_3 alpha">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news16" class="grid_3">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>
				<div id = "news17" class="grid_3 omega">
					<h3>Titre de l'article</h3>
					<img src="http://placekitten.com/220/220" alt=""/>
					<p>dsffjdsdjsvsjdvbdsjvbdsvbdshvds</br>
						dkfslndsjvndfjkvnfsjkvnskjvnsjkvn</br>
					</p>
				</div>			
			</div>	

			<div class="grid_3">

			</div>


		</div>

		<hr class="carved" />
		<footer>

			<div class="main_content">
				<div class="grid_3">
					<img src="../img/login.gif">
				</div>
				<div class="grid_3 about">
					<h3>About Us</h3>
					<p>dshfbsfhsbvhdjsvbdfhbsvfhbdqvlibvfsvlsdvqdbjlvflv
						fdjkdsndsbdjkndvdjsjdvbfkdvbfjdsv
						fdkndsvjvnfdskjvfdlsbsjvbdfhqbqhljbqs
						fvdkbvdfqhdbhvbfhbdshqv
						fdvbfdshjdbvfhjqdbjldf
					</p>
				</div>
				<div class="grid_3">
					<ul class="categorie">
						<h3>Categories</h3>
						<li><a href="">Polique</a></li>
						<li><a href="">Economie</a></li>
						<li><a href="">High-Tech</a></li>
						<li><a href="">Sports</a></li>
					</ul>
				</div>
				<div class="grid_3">
					<ul class="social-media">
						<h3>Media Social</h3>
						<li><a href="">Facebook  </a></li>
						<li><a href="">Twitter  </a></li>
						<li><a href="">Linkeldn  </a></li>
						
					</ul>
				</div>
			</div>	
		</footer>

		<script src="http://localhost:8080/socket.io/socket.io.js"></script>
		<script>
  
		    var socket = io.connect('http://127.0.0.1:8080');

		    socket.on('news 0', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news0").empty();
          		$("#news0").append(h);
          		$("#news0").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 1', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news1").empty();
          		$("#news1").append(h);
          		$("#news1").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 2', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news2").empty();
          		$("#news2").append(h);
          		$("#news2").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 3', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news3").empty();
          		$("#news3").append(h);
          		$("#news3").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 4', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news4").empty();
          		$("#news4").append(h);
          		$("#news4").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 5', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news5").empty();
          		$("#news5").append(h);
          		$("#news5").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 2', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news6").empty();
          		$("#news6").append(h);
          		$("#news6").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 7', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news7").empty();
          		$("#news7").append(h);
          		$("#news7").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 8', function(json) {
		      	//console.log("reussi");
		      	//console.log(json);
		      	var h = $("<p></p>").text(json.title);
		      	h.css("margin-left", "5px");
		      	h.css("font-weight", "bold");
		      	h.css("color", "white");
		  
          		$("#news8").empty();
          		$("#news8").append(h);
          		$("#news8").css("background-image", "url("+json.img+")");  
		      });

		    socket.on('news 9', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news9 h3").empty();
          		$("#news9 h3").append(json.title);
          		$("#news9 img").attr("src", json.img);  
          		$("#news9 img").css("width", "100%");
          		$("#news9 img").css("height", "100%");
          		$("#news9 p").empty();
          		$("#news9 p").append(json.content);

		      });
			

		    socket.on('news 10', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news10 h3").empty();
          		$("#news10 h3").append(json.title);
          		$("#news10 img").attr("src", json.img);  
          		$("#news10 img").css("width", "100%");
          		$("#news10 img").css("height", "100%");
          		$("#news10 p").empty();
          		$("#news10 p").append(json.content);
		      });

		    socket.on('news 11', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news11 h3").empty();
          		$("#news11 h3").append(json.title);
          		$("#news11 img").attr("src", json.img);  
          		$("#news11 img").css("width", "100%");
          		$("#news11 img").css("height", "100%");
          		$("#news11 p").empty();
          		$("#news11 p").append(json.content);
		      });


		    socket.on('news 12', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news12 h3").empty();
          		$("#news12 h3").append(json.title);
          		$("#news12 img").attr("src", json.img);  
          		$("#news12 img").css("width", "100%");
          		$("#news12 img").css("height", "100%");
          		$("#news12 p").empty();
          		$("#news12 p").append(json.content);
		      });


		    socket.on('news 13', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news13 h3").empty();
          		$("#news13 h3").append(json.title);
          		$("#news13 img").attr("src", json.img);  
          		$("#news13 img").css("width", "100%");
          		$("#news13 img").css("height", "100%");
          		$("#news13 p").empty();
          		$("#news13 p").append(json.content);
		      });


		    socket.on('news 14', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news14 h3").empty();
          		$("#news14 h3").append(json.title);
          		$("#news14 img").attr("src", json.img);  
          		$("#news14 img").css("width", "100%");
          		$("#news14 img").css("height", "100%");
          		$("#news14 p").empty();
          		$("#news14 p").append(json.content);
		      });


		    socket.on('news 15', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news15 h3").empty();
          		$("#news15 h3").append(json.title);
          		$("#news15 img").attr("src", json.img);  
          		$("#news15 img").css("width", "100%");
          		$("#news15 img").css("height", "100%");
          		$("#news15 p").empty();
          		$("#news15 p").append(json.content);
		      });

		    socket.on('news 16', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news16 h3").empty();
          		$("#news16 h3").append(json.title);
          		$("#news16 img").attr("src", json.img);  
          		$("#news16 img").css("width", "100%");
          		$("#news16 img").css("height", "100%");
          		$("#news16 p").empty();
          		$("#news16 p").append(json.content);
		      });

		    socket.on('news 17', function(json) {
		      	console.log("reussi");
		      	console.log(json);
		      	//var h = json.title;
		      	//h.css("margin-left", "5px");
		      	//h.css("font-weight", "bold");
		      	//h.css("color", "white");
		  
          		$("#news17 h3").empty();
          		$("#news17 h3").append(json.title);
          		$("#news17 img").attr("src", json.img);  
          		$("#news17 img").css("width", "100%");
          		$("#news17 img").css("height", "100%");
          		$("#news17 p").empty();
          		$("#news17 p").append(json.content);
		      });
			
		    
		     
		    socket.on("disconnect", function() {
		    console.log("disconnected");
		    });

		</script>
	</body>
</html>