<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Contacts</title>
		
		<link rel="stylesheet" type="text/css" href="../Css/style.css">
		

	
	<head>
	<body>
		<header>
			<a href="../html/index.html"><h1>THE VERGE</h1></a>

			<nav class="m-nav">

				<ul>
					<li ><a href="../html/log.html"><img class="log" src="../img/login.gif" title="Connection ou Inscription"></a></li>
					
					<li><a href="">Polique</a></li>
					<li><a href="">Economie</a></li>
					<li><a href="">High-Tech</a></li>
					<li><a href="">Sports</a></li>
				</ul>			
			</nav>
		</header>		
		<hr class="carved" />
		
			
		<form id="log-in">
		  <label for="login_username">Nom utilisateur: </label>
		  <input type="text" name="login_username" id="login_username"></br>
		  <label for="login_password">Mot de passe:&nbsp&nbsp&nbsp </label>
		  <input type="password" name="login_password" id="login_password"></br>
		  
		  <input type="submit" name="login_submit" id="login_submit" value="Login">
		  <label><input type="checkbox" name="login_remember" id="login_remember">&nbsp&nbsp&nbsp Rester Connecter </label></br>
		  <a href="register.html">Devenir Membre?</a>
		</form>
	
		

		<hr class="carved" />
		<footer>

			<div class="main_content">
				<div class="grid_3">
					<img src="../img/login.gif">
				</div>
				<div class="grid_3 about">
					<h3>About Us</h3>
					<p>dshfbsfhsbvhdjsvbdfhbsvfhbdqvlibvfsvlsdvqdbjlvflv
						fdjkdsndsbdjkndvdjsjdvbfkdvbfjdsv
						fdkndsvjvnfdskjvfdlsbsjvbdfhqbqhljbqs
						fvdkbvdfqhdbhvbfhbdshqv
						fdvbfdshjdbvfhjqdbjldf
					</p>
				</div>
				<div class="grid_3">
					<ul class="categorie">
						<h3>Categories</h3>
						<li><a href="">Polique</a></li>
						<li><a href="">Economie</a></li>
						<li><a href="">High-Tech</a></li>
						<li><a href="">Sports</a></li>
					</ul>
				</div>
				<div class="grid_3">
					<ul class="social-media">
						<h3>Media Social</h3>
						<li><a href="">Facebook  </a></li>
						<li><a href="">Twitter  </a></li>
						<li><a href="">Linkeldn  </a></li>
						
					</ul>
				</div>
			</div>	
		</footer>
	
	</body>
</html>